<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./templates/header')%>
    <%-include('./templates/navBar')%>
    <script>
        window.onload = function () {
            limpiarCampos();
        };

        function limpiarCampos() {
            var idCampo = document.getElementById('id');
            var personsCampo = document.getElementById('persons');
            var serviceCampo = document.getElementById('service');
            var dateBookingCampo = document.getElementById('dateBooking');

            idCampo.value = '';
            personsCampo.value = '';
            serviceCampo.value = '';
            dateBookingCampo.value = '';
        }

        function editing() {
            var valueId = document.getElementById('person').value
            var z = document.getElementById('id')
            var client = document.getElementById('p')
            var service = document.getElementById('c')
            var dateBooking  = document.getElementById('dateBooking')
            array = "<%=temp.data%>"
            "<%temp.forEach(t=>{%>"
            var aux = "<%=t.id%>"
            if (aux == valueId) {
                obj = valueId
                z.value = "<%=t.id%>"
                client.innerHTML = "<%=t.client%>"
                client.value = "<%=t.client%>"
                dateBooking.value = "<%=t.booking%>"
                service.innerHTML = "<%=t.service%>"
            }
            "<%})%>"
            return valueId
        }
        function checkForm() {
            var client = document.getElementById('persons').value;
            var service = document.getElementById('service').value;
            var dateBooking = document.getElementById('dateBooking').value;
            var acceptTerms = document.getElementById('acceptTerms').checked;

            var allFieldsCompleted = client !== '' && service !== '' && dateBooking !== '' && acceptTerms;
            document.getElementById('deleteReservation') = !allFieldsCompleted;
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>¡Hola! Elimina Tu Reserva</h1>
            </div>
            <p class="fs-5" style="margin-top: 1rem">
                Por favor, elige la reserva que deseas eliminar.
                <br>¡Te esperamos pronto!
            </p>
            <div class="deleteInput">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Reservación</span>
                    <select name="person" id="person" class="form-control" onchange="editing()">
                        <option disabled selected style="display:none;">¡Seleccione Una Opción!</option>
                        <%temp.forEach(t=>{%>
                            <option value=<%=t.id%>><%=t.id%> /<%=t.client%>/<%=t.service%>
                            </option>
                        <%})%>
                    </select>
                </div>
                <form action="/deleteData/id" method="POST">
                    <div class="block">
                        <div class="mb-3 text-start">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">Cliente</span>
                                <input type="hidden" value="<%=temp.id%>" id="id" name="id" class="form-control">
                                <select name="persons" id="persons" class="form-control">
                                    <option id="p" value="<%= temp.client %>">
                                        <%= temp.client %>
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 text-start">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">Servicio</span>                                
                                <select name="service" id="service" class="form-control">
                                    <option id="c" value="<%= temp.service %>">
                                        <%= temp.service %>
                                    </option>
                                </select>                                   
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-3 text-start">
                                <label for="dateBooking" class="form-label">Fecha De Reserva:</label>
                                <input type="datetime-local" class="form-control" name="dateBooking" id="dateBooking"
                                    value="<%=temp[0].booking%>">
                            </div>
                        </div>                                                
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-danger">
                                Eliminar Reserva
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <%-include('./templates/authors')%>
        <%-include('./templates/footer')%>
</body>
</html>