<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('./templates/header')%>
    <%-include('./templates/navBar')%>
      <script>
        window.onload = function () {
          limpiarCampos();
        };
        function checkForm() {
          var client = document.getElementById('persons').value;
          var service = document.getElementById('service').value;
          var dateBooking = document.getElementById('dateBooking').value;
          var observations = document.getElementById('observations').value;
          var acceptTerms = document.getElementById('acceptTerms').checked;

          var allFieldsCompleted = client !== '' && service !== '' && dateBooking !== '' && observations !== '' && acceptTerms;
          document.getElementById('addReservation').disabled = !allFieldsCompleted;
        }

        function limpiarCampos() {
          var idCampo = document.getElementById('id');
          var personsCampo = document.getElementById('persons');
          var serviceCampo = document.getElementById('service');
          var dateBookingCampo = document.getElementById('dateBooking');
          var observationsCampo = document.getElementById('observations');

          idCampo.value = '';
          personsCampo.value = '';
          serviceCampo.value = '';
          dateBookingCampo.value = '';
          observationsCampo.value = '';
        }

        function validateForm() {
          var client = document.getElementById('persons').value;
          var service = document.getElementById('service').value;
          var dateBooking = document.getElementById('dateBooking').value;
          var observations = document.getElementById('observations').value;
          var acceptTerms = document.getElementById('acceptTerms').checked;

          if (client === '' || service === '' || dateBooking === '' || observations === '' || !acceptTerms) {
            alert('Por favor, complete todos los campos y acepte el tratamiento de datos antes de realizar la reserva.');
            return false;
          }
          return true;
        }

        function editing() {
          var valueId = document.getElementById('person').value;
          var z = document.getElementById('id');
          var client = document.getElementById('p');
          var service = document.getElementById('service');
          var da = document.getElementById('dateBooking');
          var des = document.getElementById('observations');
          array = "<%=temp.data%>";

          "<%temp.forEach(t=>{%>"
          var aux = "<%=t.id%>";
          if (aux == valueId) {
            obj = valueId;
            z.value = "<%=t.id%>";
            client.innerHTML = "<%=t.client%>";
            client.value = "<%=t.client%>";
            des.innerHTML = "<%=t.observations%>";
            da.value = "<%=t.booking%>";
            service.value = "<%=t.service%>";
          }
          "<%})%>"
          return valueId;
        }
      </script>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h1>¡Hola! Edita Tu Reservación</h1>
      </div>
      <p class="fs-5" style="margin-top: 1rem">
        Por favor, realiza las ediciones necesarias para que tu reserva se ajuste perfectamente a tus necesidades. <br>
        ¡Gracias por elegirnos en Estilo Radiante!
      </p>
      <div class="editInput">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Reservación</span>
          <select name="person" id="person" class="form-control" onchange="editing()">
            <option disabled selected style="display:none;">¡Seleccione Una Opción!</option>
            <%temp.forEach(t=>{%>
              <option value=<%=t.id%>><%=t.id%> /<%=t.client%>/<%=t.service%>
              </option>
              <%})%>
          </select>
        </div>
        <%if(temp[1].id !==1){%>
          <form action="/editData/id" method="POST" onsubmit="return validateForm()">
            <div class="block">
              <div class="mb-3 text-start">
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">Cliente</span>
                  <input type="hidden" value="<%=temp.id%>" id="id" name="id" class="form-control">
                  <select name="persons" id="persons" class="form-control">
                    <option id="p" value="<%= temp.client %>">
                      <%= temp.client %>
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-2">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon2">Servicio</span>
                  <select name="service" id="service" class="form-control">
                    <option disabled selected style="display:none;">¡Seleccione Un Servicio!</option>
                    <%services.forEach((element)=>{%>
                      <option value="<%-element%>"><%-element%></option>
                    <%})%>
                  </select>
                </div>
              </div>
              <div class="col-3">
                <div class="mb-3 text-start">
                  <label for="dateBooking" class="form-label">Fecha De Reserva:</label>
                  <input type="datetime-local" class="form-control" name="dateBooking" id="dateBooking"
                    value="<%=temp[0].booking%>">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="input-group">
                  <span class="input-group-text">Observaciones</span>
                  <textarea class="form-control" aria-label="With textarea" name="observations"
                    id="observations"><%=temp[0].observations%></textarea>
                </div>
              </div>
            </div>
            <%}else{%>
              <div class="alert alert-danger alert-dismissible fade show text-center fs-5" role="alert">
                <p class=""><i class="fas fas-alert"></i> No hay resultados para su busqueda</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <%}%>
                <div class="form-check" style="margin-top: 1rem;">
                  <input class="form-check-input" type="checkbox" id="acceptTerms" onchange="checkForm()">
                  <label class="form-check-label" for="acceptTerms">
                    ¡Acepto el tratamiento de datos personales!
                  </label>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 1.5rem;">
                  <a href="editEntry" class="btn btn-warning">Limpiar</a>
                  <button type="submit" class="btn btn-success" id="addReservation" disabled><i class="fas fa-edit"></i>
                    Editar
                  </button>
                </div>
          </form>
      </div>
    </div>
  </div>
  <%-include('./templates/authors')%>
    <%-include('./templates/footer')%>
</body>
</html>