<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./templates/header')%>
  </head>
  <body>
    <%-include('./templates/navBar')%>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h1>Realizar Reservacion</h1>
        </div>
        <p class="fs-5" style="text-align: center; margin-top: 1rem;">
          Ingrese por favor los datos a continuación para realizar su reserva.
        </p>
        <form class="formInput">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"
              >Persona que reserva</span
            >
            <select name="clients" id="persons" class="form-control">
              <option value="">Seleccione una opción...</option>
              <% lclients.forEach((element)=>{%>
                <option value="<%= element %>"><%= element %></option>
            <% }) %>
            </select>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Servicio</span>
            <select name="service" id="service" class="form-control">
              <option value="Depilacion">Depilacion</option>
              <option value="Corte de Pelo">Corte de Pelo</option>
              <option value="Manicure">Manicure</option>
              <option value="Pedicure">Pedicure</option>
            </select>
          </div>
          <label for="dateDelivery" class="form-label">Fecha de entrega</label>
          <input
            type="datetime-local"
            class="form-control"
            name="dateBooking"
            id="dateBooking"
          />
          <div class="input-group" style="margin-top: 1rem;">
            <span class="input-group-text">Observaciones</span>
            <textarea
              class="form-control"
              aria-label="With textarea"
              name="observations"
              id="observations"
            ></textarea>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 1.5rem;">
            <a href="newEntry" class="btn btn-warning"
              ><i class="fas fa-eraser"></i> Limpiar</a
            >
            <button class="btn btn-success" id="addReservation">
              <i class="fas fa-plus"></i> Realizar reserva
            </button>
          </div>
        </form>
      </div>
    </div>
    <%-include('./templates/authors')%>
    <%-include('./templates/footer')%>
  </body>
</html>
